<div class="container d-flex justify-content-center align-items-center animate__animated animate__slideInLeft">
    <div class="row">
        <div class="card text-dark bg-light mb-3 shadow-lg ">
            <div class="card-body">
                <div class="text-center">

                    <img src="../assets/img/Instagram-logo-transparent-PNG.png" alt="" width="60" height="60" class="d-inline-block align-text-top">
                </div>

                <h5 class="card-title text-center">Desafiogram</h5>

                <p class="card-text"><small class="text-muted"><b>Regístrate para que veas el clon de Instagram !</b></small></p>

                <form [formGroup]="forma" autocomplete="off" (ngSubmit)="signUp()">

                    <small>Correo</small><br>
                    <input type="text" placeholder="Ingresar correo" email="true" class="form-control" formControlName="correo">
                    <span class="text-danger animated fadeIn" *ngIf="correoNoValido" class="text-danger">Debe ingresar un correo válido.</span><br>

                    <small>Nombre</small><br>
                    <input type="text" placeholder="Ingresar nombre" class="form-control" formControlName="nombre">
                    <span class="text-danger animated fadeIn" *ngIf="nombreNoValido" class="text-danger">Debe ingresar al menos 2 letras.</span><br>

                    <small>Usuario</small><br>
                    <input type="text" placeholder="Ingresar usuario" class="form-control" formControlName="usuario">
                    <span class="text-danger animated fadeIn" *ngIf="usuarioNoValido" class="text-danger">Debe ingresar al menos 2 letras.</span><br>

                    <small>Bio</small><br>
                    <input type="text" placeholder="Ingresar bio" class="form-control" formControlName="bio">
                    <span class="text-danger animated fadeIn" *ngIf="bioNoValido" class="text-danger">Debe ingresar al menos 2 letras.</span><br>

                    <small>Contraseña</small><br>
                    <input type="password" placeholder="Ingresar contraseña" class="form-control" formControlName="contrasena">
                    <span class="text-danger animated fadeIn" *ngIf="contrasenaNoValido" class="text-danger">Debe ingresar al menos 2 letras.</span><br>

                    <div class="mt-2 mb-1 text-center">
                        <button class="btn btn-primary" type="submit">Registrarme</button>
                    </div>
                    <div class="row text-center">
                        <p class="card-text"><small class="text-muted"><b>Ya tienes cuenta? <a routerLink="/login" style="text-decoration: none;">Click aquí!</a></b></small></p>
                    </div>


                </form>
            </div>
        </div>

    </div>

</div>